

.busca{
    height: 30px;
    background-color: rgb(112, 112, 106);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 5px 5px 3px rgb(192, 185, 185);

}
a{
    text-decoration: none;
    color: rgb(102, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
}
a:hover{
    color: rgb(182, 182, 194);
    background-color: black;
    border-radius: 5px;
}

p{
    color: rgb(249, 255, 253);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align:justify;
}

main{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 15px;

    

}
body{
    background-color: black;
    
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.gta{
    height: 10px;
    width: 10px;
}
.titulo{
    display: flex;
    justify-content: center;
}

 main img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border-style: groove;
    border-color: greenyellow;

}

  
.container-memb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.container-memb p{
    margin: 10px;
}
.memb{
    display: flex;
    justify-content: center;
}
main h1{
    text-align: center;
}

footer img{
    width: 20px;
    height: 20px;
}
footer a:hover{
    color: white;
}
